.HomePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-block: clamp(var(--spacing-5), 2.5vw, var(--spacing-7));
    padding-inline: clamp(var(--spacing-m), 5vw, var(--spacing-3xl));
    overflow: hidden;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-5);
        margin-bottom: var(--spacing-5);
        flex-shrink: 0;
        flex-wrap: wrap;
    }

    &-title {
        font: var(--font-heading-xl);
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: var(--spacing-3);
        flex-shrink: 0;
    }

    &-content {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }
}
