.Login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    >div {
        background: var(--container);
        padding: var(--spacing-7);
        border-radius: var(--radius-m);
        width: 100%;
        max-width: 300px;

        >h1 {
            margin-bottom: 24px;
            font: var(--font-heading-md);
        }
    }

    .Form {
        display: grid;
        gap: 12px;

        >a {
            text-decoration: underline;
            font: var(--font-body-sm);
        }
    }
}