.Slider {
    --height: var(--size-xxs);
    --padding: var(--spacing-1);
    --radius: var(--radius-md);
    --knob-radius: var(--radius-sm);
    --knob-width: var(--size-xxs);

    height: var(--height);
    background: var(--color-grey-500);
    position: relative;
    border-radius: var(--radius);
    user-select: none;

    .before {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--t) * (100% - var(--knob-width) - var(--padding) * 2) + var(--knob-width) + var(--padding) * 2);
        height: var(--height);
        background: var(--color-blue-500);
        border-radius: var(--radius);
    }

    .knob {
        width: var(--knob-width);
        height: calc(var(--height) - var(--padding) * 2);
        background: var(--color-grey-50);
        border-radius: var(--knob-radius);
        position: absolute;
        top: var(--padding);
        left: calc(var(--t) * (100% - var(--knob-width) - var(--padding) * 2) + var(--padding));
    }

    &[aria-disabled="true"] {
        pointer-events: none;

        .knob {
            background: var(--color-grey-600);
        }

        .before {
            background: var(--color-grey-500);
        }
    }

    &:hover {
        background: var(--color-grey-600);

        .before {
            background: var(--color-blue-500);
        }
    }

    &[data-active="true"] {
        background: var(--color-grey-600);

        .before {
            background: var(--color-blue-500);
        }
    }
}