.Slider {
    height: 12px;
    background: var(--color-grey-500);
    position: relative;
    border-radius: 4px;
    user-select: none;

    .before {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--t) * (100% - 9px) + 9px);
        height: 100%;
        background: var(--color-blue-500);
        border-radius: 4px;
    }

    .knob {
        width: 18px;
        height: 18px;
        background: var(--color-grey-50);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: calc(var(--t) * (100% - 18px) + 9px);
        transform: translate(-50%, -50%);
    }

    &[aria-disabled="true"] {
        pointer-events: none;

        .knob {
            background: var(--color-grey-600);
        }

        .before {
            background: var(--color-grey-500);
        }
    }

    &:hover {
        background: var(--color-grey-600);

        .before {
            background: var(--color-blue-500);
        }
    }
    
    &[data-active="true"] {
        background: var(--color-grey-600);

        .before {
            background: var(--color-blue-500);
        }
    }
}
