.NumberInput {
    background: var(--surface);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 34px;
    overflow: hidden;

    input {
        background: none;
        width: auto;
        display: block;
        min-width: 0;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .slider {
        background: var(--surface-hover);
        flex-shrink: 0;
        width: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: ew-resize;
    }

    &[data-size="m"] input {
        padding: 8px 8px;
    }

    &[data-size="m"] .slider {
        width: 34px;
    }

    &[data-size="s"] input {
        padding: 4px 8px;
    }

    &[data-size="s"] {
        grid-template-columns: 1fr 26px;
    }

    &[data-size="s"] .slider {
        width: 26px;
        height: 26px;
    }
}
