.NumberInput {
    background: var(--surface);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 0fr;
    overflow: hidden;
    color: var(--color-grey-50);

    input {
        background: none;
        width: auto;
        display: block;
        min-width: 0;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .slider {
        background: var(--surface-hover);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: ew-resize;
        user-select: none;
    }


    &[data-size="md"] {
        font: var(--font-body-md);
        grid-template-columns: 1fr var(--size-md);

        input {
            padding: var(--spacing-3) var(--spacing-4);
        }
    }

    &[data-size="sm"] {
        font: var(--font-body-sm);
        grid-template-columns: 1fr var(--size-sm);

        input {
            padding: var(--spacing-2) var(--spacing-3);
        }
    }

    &[data-size="xs"] {
        font: var(--font-body-xs);
        grid-template-columns: 1fr var(--size-xs);

        input {
            padding: var(--spacing-1) var(--spacing-2);
        }
    }
}
