.StringInput {
    background: var(--surface);
    border-radius: 4px;
    overflow: hidden;

    input {
        background: none;
        width: 100%;
        padding: 4px 8px;
        display: block;
        min-width: 0;
    }
}
