.StringInput {
    background: var(--surface);
    border-radius: 4px;
    overflow: hidden;

    input {
        background: none;
        width: 100%;
        display: block;
        min-width: 0;
    }

    &[data-size="m"] input {
        padding: 8px 8px;
    }

    &[data-size="s"] input {
        padding: 4px 8px;
    }
}
