.StringInput {
    background: var(--surface);
    border-radius: 4px;
    overflow: hidden;

    input {
        background: none;
        width: 100%;
        display: block;
        min-width: 0;
    }

    &[data-size="m"] input {
        padding: var(--spacing-3) var(--spacing-4);
    }

    &[data-size="s"] input {
        padding: var(--spacing-1) var(--spacing-2);
    }
}
