DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_STORAGE_PATH=/var/lib/postgresql/data

APP_URL=http://localhost:3000

API_URL=http://localhost:3001
API_JWT_SECRET=ajbnekfjbakjegblnlvalnckjabe
API_MAILER_MODE=local
API_MAILER_FROM=Rocktom <noreply@localhost>
API_MAILER_HOST=
API_MAILER_PORT=
API_MAILER_USER=
API_MAILER_PASS=
API_MAILER_SECURE=false
API_STORAGE_PATH=/app/storage