.PatternEditorView {
    display: grid;
    grid-template-rows: 0fr 1fr;
    height: 100%;
    width: 100%;
    overflow: hidden;

    > .head {
        padding: 4px 8px;
    }

    > .body {
        --note-height: 26px;
        display: grid;
        grid-template-rows: 0fr 1fr;
        background: var(--surface);
        border-radius: 0 0 8px 8px;
        overflow: hidden;

        > .TrackEditorView > .keyboard {
            position: relative;
            overflow: hidden;

            .NoteTransformView {
                position: absolute;
                inset: 0;
            }
        }

        > .TrackEditorView > .notes {
            position: relative;
            overflow: hidden;

            .shadow-note {
                position: absolute;
                height: var(--note-height);
                width: 100%;
                top: calc(
                    (var(--index-range) - (var(--index) - var(--min-index)) - 1 - var(--note-offset)) *
                        var(--note-height)
                );
                border-bottom: 1px solid var(--marker-beat);

                &:last-child {
                    border-top: 1px solid var(--marker-beat);
                }
            }
        }

        .KeyboardNoteView {
            position: absolute;
            height: var(--note-height);
            width: 100%;
            top: calc(
                (var(--index-range) - (var(--index) - var(--min-index)) - 1 - var(--note-offset)) * var(--note-height)
            );
            background: var(--surface);
            outline: 1px solid var(--outline);
            display: flex;
            align-items: center;
            padding-left: 4px;

            &[data-available="true"] {
                background-color: var(--color);
                color: var(--contrast);
                outline: 1px solid var(--contrast);
            }
        }

        .NoteView {
            position: absolute;
            height: var(--note-height);
            width: 100%;
            top: calc(
                (var(--index-range) - (var(--index) - var(--min-index)) - 1 - var(--note-offset)) * var(--note-height)
            );
            background-color: var(--color);
            left: calc((var(--ticks) + var(--offset)) * var(--ratio) * 1px);
            width: calc(var(--duration) * var(--ratio) * 1px);
            border-radius: 2px;
            border: 1px solid var(--contrast);

            padding-left: 3px;
            padding-right: 3px;

            &[data-instant="true"] {
                width: 6px;
                left: calc((var(--ticks) + var(--offset)) * var(--ratio) * 1px - 3px);
            }

            &[data-selected="true"] {
                outline: 2px solid var(--outline);
            }

            .resizer {
                position: absolute;
                top: 0;
                bottom: 0;
                right: -2px;
                width: 4px;
                cursor: ew-resize;
            }

            > p {
                overflow: hidden;

                color: var(--contrast);
            }

            .fret-hint {
                position: absolute;
                right: calc(100% + 4px);
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color);
                z-index: 3;
                color: white;
                padding: 0 8px;
                opacity: 0;
                pointer-events: none;
                border-radius: 4px;
                color: var(--contrast);
                outline: 1px solid var(--contrast);
            }

            @keyframes show-hint {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            &:hover > .fret-hint {
                animation: show-hint 0.2s forwards;
                animation-delay: 1s;
            }
        }

        .TimeMarkersView {
            position: absolute;
            inset: 0;

            > .marker {
                position: absolute;
                bottom: 0;
                top: 0;
                width: 1px;
                background: var(--marker);
                left: calc((var(--ticks) + var(--offset)) * var(--ratio) * 1px - 1px);

                &[data-type="bar"] {
                    background: var(--marker-bar);
                    width: 1px;
                }
                &[data-type="beat"] {
                    background: var(--marker-beat);
                }
            }
        }
    }
}
