.PlayHead {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--primary);
    left: calc((var(--ticks) - var(--hard-offset, 0) + var(--offset)) * var(--ratio) * 1px - 1px);
    z-index: 1;
}
