.ContextualMenuView {
    position: fixed;
    inset: 0;
    z-index: 5;
    pointer-events: none;

    &[data-visible="false"] {
        display: none;
    }

    &[data-visible="true"] {
        pointer-events: auto;
    }

    .backdrop {
        position: absolute;
        inset: 0;
    }

    .menu {
        position: fixed;
        left: calc(var(--x) * 1px);
        top: calc(var(--y) * 1px);
        min-width: 200px;
        padding: var(--spacing-xs);
        background: var(--surface);
        border-radius: var(--radius-s);
        outline: 1px solid var(--outline-0);
        box-shadow: var(--shadow-m);

        .item {
            cursor: pointer;
            display: flex;
            gap: var(--spacing-s);
            padding: var(--spacing-s);
            border-radius:var(--radius-xs);

            &:hover {
                background: var(--surface-hover);
            }

            &:active {
                background: var(--surface-active);
            }
        }

        .separator {
            height: 1px;
            background: var(--outline);
            margin: var(--spacing-xs) 0;
            width: 100%;
        }
    }
}