.Toolbar {
    display: flex;
    gap: var(--spacing-2);
}

.ToolbarTab {
    position: relative;

    >.items {
        position: absolute;
        top: calc(100% + var(--spacing-1));
        min-width: 100px;
        background: var(--color-grey-500);
        left: 0;
        border-radius: var(--radius-sm);
        padding: var(--spacing-1);
        z-index: 5;
        animation: var(--animate-pop-in);
        border: 1px solid var(--color-grey-400);
        box-shadow: var(--shadow-lg);
    }
}

.ToolbarShortcutItem {
    white-space: nowrap;
    align-items: center;
    flex-wrap: nowrap;

    .ShortcutView {
        margin-top: calc(var(--spacing-1) * -1);
        margin-bottom: calc(var(--spacing-1) * -1);
        margin-right: calc(var(--spacing-1) * -1);
        padding: var(--spacing-1) var(--spacing-2);
    }
}

.ToolbarMenuItem {
    position: relative;
    white-space: nowrap;

    >.items {
        position: absolute;
        top: 0;
        left: calc(100% + var(--spacing-4));
        background: var(--color-grey-500);
        border-radius: var(--radius-sm);
        padding: var(--spacing-1);
        animation: var(--animate-pop-in);
        border: 1px solid var(--color-grey-400);
        box-shadow: var(--shadow-lg);
    }
}

.ToolbarSectionItem {
    >p {
        color: var(--color-grey-200);
        padding-left: var(--spacing-2);
        padding: var(--spacing-1) var(--spacing-2) var(--spacing-05) var(--spacing-2);
        font: var(--font-body-xs);
    }
}

.ToolbarSimpleItem {
    width: 100%;
    justify-content: flex-start;
    white-space: nowrap;
}