[data-string="E"] {
    --string-color: red;
}

[data-string="A"] {
    --string-color: yellow;
}

[data-string="D"] {
    --string-color: blue;
}

[data-string="G"] {
    --string-color: orange;
}

.PlaybackView {
    .PlaybackControls {
        padding: 24px;
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1.2rem;
            opacity: 0.5;
            margin-bottom: 24px;
        }

        .buttons {
            display: flex;
            gap: 12px;
            align-items: center;
            // margin-bottom: 24px;
        }

        .speed {
            margin-top: 12px;
            margin-bottom: 12px;
            > p {
                margin-bottom: 4px;
            }
            .container {
                display: flex;
                gap: 8px;
            }
        }

        .metronome {
            margin-top: 12px;
            margin-bottom: 12px;

            > label {
                margin-bottom: 8px;
                display: inline-block;

                .Toggle {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 4px;
                }
            }

            .container {
                display: flex;
                gap: 8px;
            }
        }

        .time {
            .PlaybackProgressView {
                width: 250px;
            }
        }

        .PlaybackSpeedButton {
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
            width: 80px;
            text-align: center;
            background: grey;

            &[data-active="true"] {
                background: #cc0ddd;
            }
        }

        .PlayButton {
            padding: 12px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 4px;
            cursor: pointer;
            background: #7c7c7c;
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        .ResetButton {
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
            width: 140px;
            text-align: center;
            background: grey;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }

        .BackButton {
            padding: 0;
            opacity: 0.5;
            background: transparent;
            cursor: pointer;
            display: flex;
            gap: 4px;
            font: var(--font-m);

            &:hover {
                
                opacity: 1;
            }
        }
    }
}

.YoutubeVolumeSlider {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;

    small {
        width: 50px;
        text-align: center;
        background: var(--container);
        padding: 4px 0; 
        border-radius: 4px;
        flex-shrink: 0;
    }

    .Icon {
        flex-shrink: 0;
    }

    .Slider {
        flex: 1;
    }
}
