.PlaybackPlayView {
    --ctime: calc(var(--time) / var(--ticks-per-second));

    position: absolute;
    left: 0;
    width: 100%;
    bottom: calc((var(--ctime) - var(--player-time)) * var(--time-ratio) * 1px);

    .note {
        --cduration: calc(var(--duration) / var(--ticks-per-second));

        position: absolute;
        width: 20px;
        height: 0;
        width: 0;
        bottom: 0;
        left: calc(var(--fret-number) * 100% / 17);

        .body {
            position: absolute;
            width: 20px;
            height: calc(var(--cduration) * var(--time-ratio) * 1px);
            left: -10px;
            bottom: 0;
            background: var(--string-color);
        }

        .head {
            width: 30px;
            height: 30px;
            background: var(--string-color);
            position: absolute;
            left: -15px;
            bottom: 0px;
        }
    }
}
