.PatternEditorNoteView {
    position: absolute;
    height: var(--note-height);
    top: calc((var(--index-range) - (var(--index) - var(--min-index)) - 1 - var(--note-offset)) * var(--note-height));
    left: calc((var(--ticks) + var(--offset)) * var(--ratio) * 1px);

    &[data-instant="true"] {
        left: calc((var(--ticks) + var(--offset)) * var(--ratio) * 1px - 3px);

        .main,
        .slide {
            width: 6px;
        }
    }

    &[data-selected="true"] {

        .main,
        .slide {
            outline: 3px solid var(--outline);
            outline-offset: 2px;
        }
    }

    .resizer-right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -2px;
        width: 4px;
        cursor: ew-resize;
    }

    .resizer-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -2px;
        width: 4px;
        cursor: ew-resize;
    }

    @keyframes show-hint {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .main,
    .slide {
        position: absolute;
        height: var(--note-height);
        border-radius: 2px;
        border: 1px solid var(--contrast);
        padding-left: 3px;
        padding-right: 3px;
        background-color: var(--color);

        >p {
            overflow: hidden;
            color: var(--contrast);
            pointer-events: none;
        }

        &:hover>.fret-hint {
            animation: show-hint 0.2s forwards;
            animation-delay: 1s;
        }
    }

    .main {
        position: absolute;
        top: 0;
        left: 0;
        width: calc((var(--duration) - var(--slide-duration)) * var(--ratio) * 1px);
    }

    .slide {
        left: calc((var(--duration) - var(--slide-duration)) * var(--ratio) * 1px);
        width: calc(var(--slide-duration) * var(--ratio) * 1px);
        top: calc((var(--note-fret) - var(--slide-fret)) * var(--note-height));
    }

    .fret-hint {
        position: absolute;
        right: calc(100% + 4px);
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color);
        z-index: 3;
        color: white;
        padding: 0 8px;
        opacity: 0;
        pointer-events: none;
        border-radius: 4px;
        color: var(--contrast);
        outline: 1px solid var(--contrast);
    }

}