.FocusEditor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    gap: 4px;
    background:var(--container);
    width: 130px;
    padding: 4px;
    outline: 1px solid var(--outline);
    border-radius: 4px;
}
