.Button {
    border-radius: 4px;
    background: #2d2d2d;
    color: #ffffff;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    position: relative;

    &[data-theme="default"] {
        background: var(--surface);
        border-color: var(--surface);
        color: var(--surface-text);
        --hover-background: var(--surface-hover);
        --active-background: var(--surface-active);
    }

    &[data-theme="primary"] {
        background: var(--primary);
        border-color: var(--primary);
        color: var(--primary-text);
        --hover-background: var(--primary-hover);
        --active-background: var(--primary-active);
    }

    &[data-theme="danger"] {
        background: var(--danger);
        border-color: var(--danger);
        color: var(--danger-text);
        --hover-background: var(--danger-hover);
        --active-background: var(--danger-active);
    }

    &[data-size="m"]:not([data-variant="ghost"]) {
        padding: 8px;
        gap: var(--spacing-s);
        font: var(--font-m);

        &[data-shape="rectangle"] {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    
    &[data-size="s"]:not([data-variant="ghost"]) {
        padding: 3px;
        gap: var(--spacing-xs);
        font: var(--font-s);

        &[data-shape="rectangle"] {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    &[data-variant="ghost"] {
        background: transparent;
        border-color: transparent;
        --hover-background: transparent;
        --active-background: transparent;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            background: var(--hover-background);
        }
        &:active {
            background: var(--active-background);
        }
        &:focus-visible {
            &::before {
                position: absolute;
                top: -4px;
                left: -4px;
                right: -4px;
                bottom: -4px;
                border: 4px solid var(--primary);
                border-radius: 8px;
                content: '';
                pointer-events: none;
                z-index: 2;
                opacity: 0.5;
            }
        }
    }

    &:disabled {
        opacity: 0.5;
    }
}