.PlaybackProgressView {
    height: 80px;
    background: var(--surface);
    position: relative;
    border-radius: 4px;
    outline: 1px solid var(--outline);

    .bar {
        width: calc(var(--progress) * 100%);
        height: 100%;
        background: var(--primary);
        border-radius: 4px 0 0 4px;
        pointer-events: none;
    }

    .marker {
        position: absolute;
        top: 0;
        left: calc(var(--marker-time) / var(--duration) * 100%);
        height: 100%;
        width: calc(var(--marker-duration) / var(--duration) * 100%);
        padding: 4px;
        pointer-events: none;
        &:not(:last-child) {
            border-right: 1px solid var(--outline);
        }
    }
}
