.PlaybackTimeView {
    border-collapse: collapse;
    font-variant-numeric: tabular-nums;

    td {
        padding: 2px 0;
        vertical-align: baseline;

        &.label {
            opacity: 0.5;
            padding-right: 8px;
            white-space: nowrap;
        }
    }
}
