$animationDuration: 0.16s;

.PlaybackProgressView {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--spacing-2);
    align-items: end;
    transition: gap $animationDuration var(--curve-smooth);

    .skip {
        min-height: 0;
        overflow: hidden;
        opacity: 1;
        transition: opacity $animationDuration var(--curve-smooth);
        justify-self: end;
    }

    &:not([data-can-skip]) {
        .skip {
            opacity: 0;
            pointer-events: none;
        }
    }

    .track {
        position: relative;
        overflow: hidden;
        height: 80px;
        background: var(--color-grey-500);
        border-radius: var(--radius-sm);
        outline: 1px solid var(--color-grey-400);
        width: 100%;
        cursor: pointer;
        transition: height $animationDuration var(--curve-smooth);
        height: 100px;
    }

    .bar {
        width: calc(min(var(--progress) * 100%, 100%));
        height: 100%;
        background: var(--color-blue-500);
        border-radius: 4px 0 0 4px;
        pointer-events: none;
    }

    .marker {
        position: absolute;
        top: 0;
        left: calc(var(--marker-time) / var(--duration) * 100%);
        height: 100%;
        width: calc(var(--marker-duration) / var(--duration) * 100%);
        padding: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        font: var(--font-body-sm);

        .marker-label {
            opacity: 1;
            transition: opacity $animationDuration var(--curve-smooth);
        }

        &:not(:last-child) {
            border-right: 1px solid var(--outline);
        }
    }

    &[data-minified] {
        gap: 0;

        .skip {
            opacity: 0;
            pointer-events: none;
        }

        .track {
            height: 12px;
        }

        .marker {
            padding: 0;

            .marker-label {
                opacity: 0;
            }
        }
    }
}

