.Page {
    width: 100svw;
    height: 100svh;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.PageConnectedTitle {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-4);
    flex-shrink: 0;
    padding: var(--spacing-10);

    @media screen and (max-width: 600px) {
        padding: var(--spacing-4);
    }

    >div {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: var(--spacing-4);

        >h1 {
            display: block;
            flex: 1;
            font: var(--font-heading-xl);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .Button {
                display: inline-flex;
                margin-right: var(--spacing-4);
            }
        }

        >div {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
        }
    }
}

.PageContent {
    display: grid;
    width: 100%;
    place-items: center;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    align-items: start;
    padding: var(--spacing-10);

    @media screen and (max-width: 600px) {
        padding: var(--spacing-4);
        padding-bottom: var(--spacing-10);
    }

    >div {
        max-width: 1000px;
        width: 100%;
    }
}

.PageFooter {
    flex-shrink: 0;
}