.ToastManagerView {
    position: fixed;
    inset: 24px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    pointer-events: none;
    align-items: flex-end;
    z-index: 1000;

    @media screen and (max-width: 450px) {
        inset: 12px;
    }

    .Toast {
        pointer-events: auto;
        animation: toast-in 0.2s ease;
        max-width: 100%;

        &[data-state="closing"] {
            animation: toast-out 0.3s ease forwards;
        }
    }
}

@keyframes toast-in {
    from {
        opacity: 0;
        transform: translateX(16px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toast-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(16px);
    }
}
