.LevelListItem {

    .LevelListItemContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-3);
        padding: var(--spacing-4) var(--spacing-16) var(--spacing-4) var(--spacing-5);
    }

    .LevelListItemFixtures {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        padding-right: var(--spacing-6);
    }

    &-info {
        display: flex;
        flex-direction: column;
        min-width: 0;

        >.name {
            color: var(--text);
            font: var(--font-body-md);
            margin: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
            overflow: hidden;
        }
    }

    &-duration {
        display: inline-flex;
        align-items: baseline;
        gap: var(--spacing-2);
        font-variant-numeric: tabular-nums;
        font: var(--font-body-sm);
    }

    &-durationLabel {
        color: var(--outline);
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: var(--spacing-3);
        flex-shrink: 0;
    }

    &-playButton {
        padding: 12px;

        .Icon {
            font-size: 24px;
        }
    }

}