.MixerChannelView {
    display: grid;
    grid-template-columns: 0fr 90px 50px 1fr;
    align-items: center;
    gap: var(--spacing-3);

    >span {
        padding: var(--spacing-2);
        border-radius: var(--radius-md);
        background: var(--color-grey-900);
        text-align: center;
        border: 1px solid var(--color-grey-500);
        font: var(--font-body-sm);
    }

    &[data-hide-label="true"] {
        grid-template-columns: 0fr 50px 1fr;
    }
}