.Toggle {
    --height: var(--size-xxs);
    --width: calc(var(--size-xxs) * 2.5);
    --knob-width: var(--size-xxs);
    --padding: var(--spacing-1);
    --radius: var(--radius-md);
    --knob-radius: var(--radius-sm);

    height: var(--height);
    width: var(--width);
    background: var(--color-grey-500);
    border-radius: var(--radius);
    position: relative;
    cursor: pointer;

    .knob {
        width: var(--knob-width);
        height: calc(var(--height) - var(--padding) * 2);
        background: var(--color-grey-50);
        border-radius: var(--knob-radius);
        position: absolute;
        top: var(--padding);
        transition: left 0.2s;
    }

    &[data-active="true"] {
        background: var(--color-blue-500);

        .knob {
            left: calc(100% - var(--knob-width) - var(--padding));
        }
    }

    &[data-active="false"] {
        .knob {
            left: var(--padding);
        }
    }

    &[data-unknown="true"] {
        background: var(--color-grey-400);

        .knob {
            left: calc(50% - var(--knob-width) / 2 + var(--padding));
            opacity: 0.7;
        }
    }
}
