.ShortcutView {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-1);
    padding: var(--spacing-1) var(--spacing-2);
    align-items: center;
    border-radius: var(--radius-s);
    background-color: var(--surface);

    >span {
        font-size: 12px;
        line-height: 12px;

        .Icon {
            vertical-align: middle;
        }
    }
}