.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgb(12, 12, 12) 66%, rgba(0, 0, 0, 1) 100%);
}

.YoutubePlayer {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
