.Popup {
    >.head {
        background: var(--surface);
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
    }
    >.body {
        background: var(--container);
        padding: 16px;
        border-radius: 8px;
    }
}