.Popup {
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 0;
    overflow: hidden;

    @keyframes fadeout {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    &[data-state="closing"] {
        animation: fadeout 0.2s ease forwards;
        pointer-events: none;
    }

    &[data-state="open"] {
        animation: fadein 0.2s ease forwards;
    }

    >.body {
        max-width: calc(100vw - 2rem);
        height: calc(100vh - 2rem);
        min-height: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.PopupBaseContainer {
    background: var(--color-grey-800);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-7);
    padding: var(--spacing-7);
    display: flex;
    min-height: 0;
    overflow: hidden;
    max-height: 100%;
    pointer-events: auto;
    border: 1px solid var(--color-grey-700);

    @keyframes popIn {
        from {
            transform: scale(0.95);
        }

        to {
            transform: scale(1);
        }
    }

    animation: popIn 0.1s var(--curve-smooth);

    &[data-size="sm"] {
        width: 100svw;
        max-width: 300px;
    }

    &[data-size="md"] {
        width: 100svw;
        max-width: 400px;
    }

    &[data-size="lg"] {
        width: 100svw;
        max-width: 500px;
    }

}

.PopupBaseTitle {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-3);

    >h3 {
        font: var(--font-heading-md);
    }

    >.Button {
        flex-shrink: 0;
        margin-top: -3px;
        margin-right: -3px;
        margin-bottom: -3px;
    }
}

.PopupBaseButtons {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-3);
    flex-shrink: 0;
}

.PopupBaseContent {
    overflow-y: auto;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}