.PopupBaseContainer {
    background: var(--container);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-7);
    padding: var(--spacing-7);
}

.PopupBaseTitle {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-3);

    >h3 {
        font:var(--font-heading-md);
    }
    >.Button {
        flex-shrink: 0;
    }
}