.TunerPopup {

    .strings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;

        > .Button {
            flex: 1;

            &[data-active="true"] {
                background: var(--color);
            }
        }
    }

    .tuner {
        width: 100%;
        height: 12px;
        position: relative;

        &[data-status="error"] {
            background: rgb(75, 25, 25);
        }

        &[data-status="warn"] {
            background: rgb(75, 75, 25);
        }

        &[data-status="success"] {
            background: rgb(25, 75, 25);
        }

        &[data-status="idle"] {
            background: rgb(40, 40, 40);
        }

        &[data-locked="false"] .caret {
            opacity: 0.25;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background: grey;
        }

        .caret {
            height: 100%;
            width: 2px;
            background: white;
            position: absolute;
            left: calc(var(--t) * 100%);
            transform: translateX(-50%);
            transition: left 0.1s linear;
        }
    }
}