.Dropdown {
    position: relative;

    .BaseItem {
        justify-content: flex-start;
        width: 100%;
        overflow: hidden;

        >span {
            pointer-events: none;
            user-select: none;
        }
    }

    .BaseContent {
        display: grid;
        background: var(--color-grey-500);
        border-radius: var(--radius-sm);
        position: absolute;
        z-index: 2;
        top: calc(100% + var(--spacing-2));
        left: 0;
        width: 100%;
        padding: var(--spacing-2);
        outline: 1px solid var(--color-grey-400);
        box-shadow: var(--shadow-lg);

        &[data-open="false"] {
            display: none;
        }

        &[data-open="true"] {
            animation: var(--animate-pop-in);
        }

        &[data-size="md"] {
            padding: var(--spacing-2) var(--spacing-2);
        }

        &[data-size="sm"] {
            padding: var(--spacing-1) var(--spacing-1);
        }

        &[data-size="xs"] {
            padding: var(--spacing-1) var(--spacing-1);
        }
    }

    .BaseTrigger {
        width: 100%;
        justify-content: space-between;
        overflow: hidden;

        &[data-empty="true"] {
            >span {
                color: var(--color-grey-200);
            }
        }
    }
}