.AudioRangeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);

    .body {
        background: #242424;
        padding: 24px;
        border-radius: 8px;
        width: 400px;

        > p {
            text-align: center;
        }
    }
}
